<h1><%= @task.title %></h1>
<p><%= @task.details %></p>

<%= link_to "ðŸ”™", tasks_path %>
<%= link_to "âœï¸", edit_path(@task) %></li>

<%= link_to "ðŸš®", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>

